# Ignorar pastas de build e cache do gráfico de linguagens
dist/* linguist-vendored
build/* linguist-vendored
__pycache__/* linguist-vendored

# Ignorar o arquivo de especificação do PyInstaller
*.spec linguist-vendored

# Ignorar arquivos de dados ou exemplos que possam distorcer a contagem
files/* linguist-vendored
